services:
	- {class: ZenifyTests\DoctrineFilters\Filters\ActiveFilter, tags: [zenify.doctrine.filter]}
	- {class: ZenifyTests\DoctrineFilters\Filters\ConditionFilter, tags: [zenify.doctrine.filter]}

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	- Zenify\DoctrineFilters\DI\FiltersExtension


doctrine:
	driver: pdo_sqlite
	memory: true
