services:
	- Zenify\DoctrineFilters\Tests\FilterManager\Source\ActiveFilter
	- Zenify\DoctrineFilters\Tests\FilterManager\Source\EnabledFilter
	- Zenify\DoctrineFilters\Tests\FilterManager\Source\DisabledFilter


extensions:
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	- Kdyby\Console\DI\ConsoleExtension
	- Symnedi\EventDispatcher\DI\EventDispatcherExtension # intentionally above Kdyby\Events due to removeDefinition bug
	- Kdyby\Events\DI\EventsExtension
	- Kdyby\Annotations\DI\AnnotationsExtension
	- Zenify\DoctrineFilters\DI\FiltersExtension


doctrine:
	driver: pdo_sqlite
	memory: true
